body {
  font-family: 'Montserrat', 'sans-serif';
  color: #6211c0;
  visibility: hidden;
}

.topbar-link b {
  border-radius: 5px;
  color: white;
  background-color: #6211c0;
  padding: 2px 10px;
}

.site-footer {
  color: white;
  margin-top: 32px;
  background: #6211c0;
}

.site-footer__widgets {
    padding: 32px 0px;
}

.footer-contacts__icon::before {
  color: white;
}

hr {
  border-top: 2px solid #f8f9fa;
}

.products-list[data-layout="list"] .product-card {
  box-shadow: 0 1px 2px 0px #6211c0;
}

.owl-carousel .owl-stage {
  padding-top: 2px;
}

::after, ::before {
  color: #6211c0;
}


.fab::before {
  color: white;
}

.block-header__divider {
  background: #6211c0
}

.product-card::before {
  box-shadow: 0 1px 2px 0px #6211c0;
}

.product__prices {
  color: #6211c0;
}

.product-card:hover::before {
  box-shadow: 0 3px 5px 1px #6211c0;
}

.product-gallery__featured {
  box-shadow: 0 0 0 0px #6211c0 inset;
}

.product-tabs__content {
  border: 0px solid #ffffff;
}

.product-tabs__item:hover {
  border-bottom-color: #6211c0;
}

[dir=ltr] .products-list[data-layout="list"] .product-card .product-card__actions {
  border-left: none;
}

.products-list[data-layout="list"] .product-card .product-card__availability {
  color: #6211c0;
}

.product-card__prices {
  color: #6211c0;
}

.btn-secondary, .btn-secondary.disabled, .btn-secondary:disabled {
    border-color: #6211c0;
    background: #6211c0;
    color: #ffffff;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
    border-radius: 6px;
}

.midia_icons {
  border-radius: 12px;
  width: 50px;
  height: 50px;
}

.contact_icons {
  width: 24px;
  margin-right: 10px;
}

.footer-subtitle {
  display: flex;
  align-items: center;
}

.social-links__item {
  margin: 16px 20px 10px 12px;

}

.topbar {
  background-color: #ffffff;
  color: #6211c0;
  height: 25px;
  font-size: 14px;
}

[dir=ltr] .totop__button {
  margin: 0;
  width: 50px;
  height: 50px;
  border-radius: 100px;
  bottom: 24px;
  left: 24px;
  position: fixed;
  border: 2px solid;
  border-color: white;
  transition: all 0.3s ease;
}

.btn-primary, .btn-primary.disabled, .btn-primary:disabled {
    box-shadow: 2px 2px 5px rgb(0 0 0 / 20%);
    border-radius: 5px;
    border-color: #6211c0;
    background: #6211c0;
    color: #fff;
    fill: #fff;
}

.btn-primary.focus, .btn-primary:focus, .btn-primary:hover {
    border-color: #461c77;
    background: #461c77;
}

.whatsapp-btn {
    bottom: 24px;
    right: 24px;
    pointer-events: auto;
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50px;
    height: 50px;
    background-color: #25d366;
    color: #fff;
    border-radius: 25px;
    font-size: 24px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease;
    z-index: 999;
}

.whatsapp-btn:hover {
    transform: translateY(-10px);
    box-shadow: 0 15px 20px rgba(0, 0, 0, 0.3);
}

.fa-whatsapp:before {
    color: white;
}

.endereco {
    margin-bottom: 0px;
}

@media (min-width: 992px) {
 .col-lg-4 {
   max-width: 100%;
 }
 .products-list[data-layout="list"] .product-card {
   box-shadow: 0 1px 2px 0px #6211c0;
 }
}

@media (max-width: 767px) {
  .products-view__list {
    margin-top: 64px;
    margin-bottom: 64px;
  }

  .products-list[data-layout="list"] .product-card .product-card__image {
    width: 357px;
  }

  .footer-subtitle {
    font-size: 20px;
    font-weight: 700;
  }

  .footer-newsletter {
    text-align: left;
    margin-top: 0px;
  }

  .footer-contacts {
    text-align: left;
  }

  .products-list[data-layout="list"] .product-card {
    box-shadow: 0 1px 2px 0px #6211c0;
  }

  .block-products-carousel__cell {
    padding: 6px;
  }

  .block-slideshow__slide-image--mobile {
    background-size: cover;
  }

  .block-banner__button {
    padding-right: 20px;
    padding-top: 115px;
  }
}
@media (hover: hover) {
 .totop__button:hover{
    transform: translateY(-10px);
    box-shadow: 0 15px 20px rgba(0, 0, 0, 0.3);
    color: #fff;
    background: #6211c0;
 }

 .totop__button:active{
    color: #fff;
    background: #6211c0;
 }
}
