body {
  font-family: 'Montserrat', 'sans-serif';
  color: #6211c0;
}

.product-card::before {
  box-shadow: 0 0 0 1px #6211c0 inset;
}

.product-card:hover::before {
  box-shadow: 0 0 0 2px #6211c0 inset;
}

@media (min-width: 992px)
.col-lg-4 {
  max-width: 100%;
}
