body {
  font-family: 'Montserrat', 'sans-serif';
  color: #6211c0;
}

.site-footer {
  color: white;
  margin-top: 32px;
  background: #6211c0;
}

.site-footer__widgets {
    padding: 32px 0px;
}

.footer-contacts__icon::before {
  color: white;
}

hr {
  border-top: 2px solid #f8f9fa;
}

.products-list[data-layout="list"] .product-card {
  box-shadow: 0 2px 3px 0px #6211c0;
}

.owl-carousel .owl-stage {
  padding-top: 2px;
}

::after, ::before {
  color: #6211c0;
}


.fab::before {
  color: white;
}

.block-header__divider {
  background: #6211c0
}

.product-card::before {
  box-shadow: 0 2px 3px 0px #6211c0;
}

.product__prices {
  color: #6211c0;
}

.product-card:hover::before {
  box-shadow: 0 3px 5px 1px #6211c0;
}

.product-gallery__featured {
  box-shadow: 0 0 0 0px #6211c0 inset;
}

.product-tabs__content {
  border: 0px solid #ffffff;
}

.product-tabs__item:hover {
  border-bottom-color: #6211c0; 
}

[dir=ltr] .products-list[data-layout="list"] .product-card .product-card__actions {
  border-left: none;
}

.products-list[data-layout="list"] .product-card .product-card__availability {
  color: #6211c0;
}

.product-card__prices {
  color: #6211c0;
}

.btn-secondary, .btn-secondary.disabled, .btn-secondary:disabled {
    border-color: #6211c0;
    background: #6211c0;
    color: #ffffff;
}

.topbar {
  background-color: #ffffff;
  color: #6211c0;
  height: 25px;
  font-size: 14px;
}

.totop__button {
  border: 2px solid;
  border-color: white;
}

.btn-primary.focus, .btn-primary:focus, .btn-primary:hover {
    border-color: #6211c0c9;
    background: #6211c0c9;
}

@media (min-width: 992px) {
 .col-lg-4 {
   max-width: 100%;
 }
 .products-list[data-layout="list"] .product-card {
   box-shadow: 0 2px 3px 0px #6211c0;
 }
}

@media (max-width: 767px) {
  .products-view__list {
    margin-top: 64px;
    margin-bottom: 64px;
  }
  .products-list[data-layout="list"] .product-card .product-card__image {
    width: 357px;
  }
  
  .footer-newsletter {
    text-align: left;
  }
  .footer-contacts {
    text-align: left;
  }
  .products-list[data-layout="list"] .product-card {
    box-shadow: 0 2px 3px 0px #6211c0;
  }
  
  .block-products-carousel__cell {
    padding: 6px;
  }  
}  
